body {
  font-family: var(--main-font);
  @include fonts(14px, 1.4, 0.03em);
  color: var(--main-txt-cl);
  background-color: var(--main-white-cl);
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding: 94px 0px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-txt-cl);
  font-weight: 700;
  @include fonts(36px, 0.86);
  text-align: center;
}

.section-subtitle {
  margin-bottom: 10px;
  color: var(--title-txt-cl);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
