/*
============================
| Header section / Шапка сайта
============================
*/

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-cl);

}

.header-container {
  position: relative;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;

@media screen and (min-width: 768px){
    @include display-flex(center);
}
}


.nav-menu{
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 10;

@media screen and (min-width: 768px){
    display: none;
}
}


.nav-menu__icon{
  fill: #000;

}

.nav{
  @media screen and (max-width: 767px){
    display: none;
}
@media screen and (min-width: 1200px){
margin-right: auto;
}
}

.nav__list {
  @include display-flex(center);
  margin-left: auto;
}

.nav__item {

@media screen and (min-width: 768px){
margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
 }
}


.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
  position: relative;

  &:hover,
  &:focus {
  color: var(--accent-cl);
}
  &--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
  bottom: -1px;
  transition: color var(--main-animation);
}
  &--current {
  color: var(--accent-cl);
}
}

.header-list {
  @media screen and (max-width: 767px){
    display: none;
}
  @media screen and (min-width: 768px){
   display: block;
   margin-left: auto;
  }

  @media screen and (min-width: 1200px){
  @include display-flex(center);
  margin-left: 0;
}
}

.header-list__item {

  @media screen and (min-width: 768px){
  margin-bottom: 10px;

  &:last-child {
  margin-bottom: 0;
  }
}
  @media screen and (min-width: 1200px){
  margin-right: 50px;
  margin-bottom: 0;

  &:last-child {
  margin-right: 0;
 }
}
}

.header-list__link {
  @include display-flex(center);

  @media screen and (min-width: 768px){
    font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-animation);

  &--accent {
  color: var(--main-txt-cl);
}
  &:hover,
  &:focus {
  color: var(--accent-cl);
}
}
  @media screen and (min-width: 1200px){
    @include display-flex(center, center);
  padding-top: 32px;
  padding-bottom: 32px;
  }
 }

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
