/*
============================
| Hero section / Герой
============================
*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-page/hero/hero-bcg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 200px 0px;
  color: var(--main-white-cl);
  background-color: var(--dark-bg-cl);
  border: 1px solid var(--accent-cl-dark);
  letter-spacing: 0.06em;

}

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  @include fonts(44px, 1.4);
  text-transform: uppercase;
}

.hero__btn {
  margin-left: auto;
  margin-right: auto; 
  
  &:hover,
  &:focus {
  background-color: var(--second-accent-cl);
}}


