/*
============================
| Address section / Адрес секция
============================
*/

.address__container {
  margin-right: 70px;
}

.address__logo {
  padding: 0px;
  margin-bottom: 20px;
}

.address__list  {
  display: block;
}

.address__item {

  &:first-child {
  margin-bottom: 9px;
}
  &:last-child {
  margin-top: 6px;
}
}

.address__link  {
  color: var(--main-white-cl);
  font-style: normal;
  line-height: 1.7;
  
  &--accent {
  color: var(--accent-cl-white);
}}
